h1 {
    background-color: #8FB8CA;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card-header{
    background-color: #A6C3CE;
    color: white;
}

.card {
    margin-left: 50px;
    width: 15rem;
    border: 1px solid black;    
    box-shadow: 4px 4px 8px rgba(0, 0, 0.1); 
    margin-bottom: 20px;
}

.container {
    display: flex;
}